body {

    /* Default font */
    font-family: 'Quicksand', sans-serif;
}
  
/* Headline overrides */

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
  }

/* Navbar */

  .navbar-brand {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: purple;
  }
  .navbar-brand img {
    width: 30px;
    height: 30px;
    color: purple;
  }
  .navbar-light .navbar-brand {
    color: purple;
  }
  
/* Jumbotron background and font styles */

  .jumbotron {

    /* Background */
    background-attachment: fixed;
    background-image: url(kidsstock2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 630px;
  
    /* Fonts */
    color: purple;
  }
  
  /* Size of testimonials images */
  .media img {
    width: 80px;
    height: 80px;
  }
